.benefits{
    margin-top: 100px;
    padding-bottom: 130px;

    &-title{
        @include adaptive-value('font-size', 48, 20);
        @include adaptive-value('line-height', 64, 24);
        width: 630px;
        color: #282938;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        margin: 0 auto;

        @media screen and (max-width: 768px){
            width: 100%;
        }
    }        

    &-card__title{
        @include adaptive-value('font-size', 24, 19);
        @include adaptive-value('line-height', 36, 23);
        width: 314.748px;
        color: #282938;
        font-style: normal;
        font-weight: 500;
        margin-top: 25px;
         @media screen and (max-width: 430px){
            width: 100%;
        }
    }

    &-card__subtitle{
        @include adaptive-value('font-size', 16, 13);
        @include adaptive-value('line-height', 28, 24);
        width: 324.079px;
        color: #282938;
        font-style: normal;
        font-weight: 400;
        opacity: 0.7;
         @media screen and (max-width: 430px){
            width: 100%;
        }
    }

    &-card{
        background-color: #EEF4FA;
        padding: 30px;
        transition: all 0.3s ease-in-out;

        &:hover{
            transform: translateY(-20px);
            cursor: pointer
        }

        @media screen and (max-width: 430px){
            width: 100%;
        }
    }

    &-cards{
        @include flex(center, center);
        gap: 32px;
        margin-top: 48px;
        flex-wrap: wrap;
    }

    &-company__title{
        @include adaptive-value('font-size', 38, 20);
        @include adaptive-value('line-height', 56, 23);
        color: #282938;
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px; 
    }

    &-company__subtitle{
        @include adaptive-value('font-size', 16, 13);
        @include adaptive-value('line-height', 28, 24);
        color: #282938;
        font-style: normal;
        font-weight: 400;
        opacity: 0.7;
    }

    &-company{
        @include flex(center, center);
        gap: 45px;
        margin-top: 48px;
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

 

   
}



