    .inquiry{
    margin-top: 130px;
    @media screen and (max-width: 1230px){
        background: #1C1E53;
        padding-bottom: 50px;
    }
    
    &-content{
        @include flex(center, space-between);
        background: #1C1E53;

        @media screen and (max-width: 1230px){
            flex-direction: column;
            margin-top: 50px;
        }


    }

    &-info{
        position: relative;;
        &::before{
            content: '';
            width: 656px;
            height: 100%;
            background: rgba(28, 30, 83, 0.50);
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }
    }

    &-title{
        @include adaptive-value('font-size', 54, 20);
        @include adaptive-value('line-height', 74, 24);
        position: absolute;
        top: 96px;
        width: 464px;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        margin-left: 94px;

        @media screen and (max-width: 700px){
            display: none;
        }
    }

    &-subtitle{
        @include adaptive-value('font-size', 16, 13);
        @include adaptive-value('line-height', 28, 24);
        position: absolute;
        bottom: 261px;
        width: 464px;
        color: #FFF;
        font-style: normal;
        font-weight: 500;
        margin-left: 94px;
        @media screen and (max-width: 700px){
            display: none;
        }
    }

    &-form{
        width: 432px;
        margin: 0 auto;
        @media screen and (max-width: 1230px){
            margin-top: 50px;
        }

        @media screen and (max-width: 480px){
            width: 100%;
        }


        &__title{
            @include adaptive-value('font-size', 32, 21);
            @include adaptive-value('line-height', 48, 23);
            color: #FFF;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 15px;

            @media screen and (max-width: 1230px){
                text-align: center;
            }

            @media screen and (max-width: 480px){
                width: 100%;
            }
        }

        &__subtitle{
            @include adaptive-value('font-size', 16, 13);
            @include adaptive-value('line-height', 28, 24);
            width: 432px;
            color: #F4F6FC;
            font-style: normal;
            font-weight: 500;
            margin-bottom: 40px;

            @media screen and (max-width: 1230px){
                text-align: center;
            }

            @media screen and (max-width: 480px){
                width: 100%;
            }
        }
    }

    &-inputs{
        @include flex(center, center);
        flex-direction: column;
        gap: 16px;
    }

    &-input{
        border-radius: 8px;
        border: 1.5px solid rgba(255, 255, 255, 0.05);  
        width: 100%;
        background-color: transparent;
        padding: 18px 32px;
        outline: none;
        color: #fff;
        font-size: 18px;

        &::placeholder{
            color: #F4F6FC;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            opacity: 0.5;
        }
    }

    &-button{
        color: #1B1C2B;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        border-radius: 41px;
        background: #FCD980;
        width: 100%;
        padding: 15px 0;
        margin-top: 40px;
        border: none;
    }

    &-link{
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        margin-top: 30px;
        @include flex(center, unset);
        gap: 15px;
    }

    &-img{
        @media screen and (max-width: 700px){
            display: none;
        }
    }
}