.proces{

    &-content{
        margin-top: 130px;
        padding-bottom: 130px
    }

    &-title{
        @include adaptive-value('font-size', 48, 20);
        @include adaptive-value('line-height', 64, 24);
        color: #282938;
        font-style: normal;
        font-weight: 600;
        text-align: center;
    }

    &-card__circle{
        background-color: #2405F2;
        border-radius: 50%;
        margin-bottom: 30px;
        @include adaptive-value('width', 24, 20);
        @include adaptive-value('height', 24, 20);
    }

    &-items{
        position: relative;
    }

    &-line{
        position: absolute;
        top: 4px;
        left: 30px;
        opacity: 0.4;
        color: #2405F2;
    }

    &-card__title{
        @include adaptive-value('font-size', 24, 18);
        @include adaptive-value('line-height', 36, 23);
        color: #282938;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 8px;
    }

    &-card__subtitle{
        @include adaptive-value('font-size', 16, 13);
        @include adaptive-value('line-height', 28, 24);
        width: 272px;
        color: #282938;
        font-style: normal;
        font-weight: 400;
        opacity: 0.7;
    }

    &-cards{
        margin-top: 45px;
        @include flex(center, center);
        flex-wrap: wrap;
        gap: 35px;
    }
}