.question{
    margin-top: 130px;

    &-content{
        @include flex(flex-start, space-between);

        @media screen and (max-width: 1060px){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &-title{
        @include adaptive-value('font-size', 38, 22);
        @include adaptive-value('line-height', 56, 24);
        width: 328px;
        color: #282938;
        font-style: normal;
        font-weight: 600;
        margin-bottom: 15px;
        @media screen and (max-width: 1060px){
            text-align: center;
        }

        @media screen and (max-width: 400px){
            width: 100%;
        }
    }

    &-link{
        @include adaptive-value('font-size', 18, 15);
        @include adaptive-value('line-height', 32, 23);
        color: #2405F2;
        font-style: normal;
        font-weight: 500;
        opacity: 0.87;

        &:hover{
            opacity: 1;
        }

        @media screen and (max-width: 1060px){
            @include flex(center, center)
        }

        @media screen and (max-width: 400px){
            width: 100%;
        }
    }

    &-accardion{
        width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        @media screen and (max-width: 1060px){
            margin-top: 40px;
        }

        @media screen and (max-width: 850px){
            width: 100%;
        }
    }
    
    &-accardion .question-contentbx{
        position: relative;
        // margin: 10px 40px;
    }

    &-accardion .question-contentbx .question-label{
        @include adaptive-value('font-size', 24, 18);
        @include adaptive-value('line-height', 36, 23);
        position: relative;
        padding: 10px;
        color: #282938;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
    }
    
    &-accardion .question-contentbx .question-label::before{
        @include adaptive-value('font-size', 24, 18);
        content: '+';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    
    &-accardion .question-contentbx.active .question-label::before{
        content: '-';
    }
    
    &-accardion .question-contentbx .question-accardion__content{
        position: relative;
        background: transparent;
        border-bottom: 1px solid #ECECF1;
        height: 0;
        overflow: hidden;
        transition: 0.4s ;
        overflow-y: auto;
    }
    
    &-accardion .question-contentbx.active .question-accardion__content{
        height: 100px;
        padding: 10px;
    }
    
    &-text{
        @include adaptive-value('font-size', 18, 15);
        @include adaptive-value('line-height', 32, 24);
        width: 624px;
        flex-shrink: 0;
        color: #282938;
        font-style: normal;
        font-weight: 500;
        opacity: 0.87;

        @media screen and (max-width: 850px){
            width: 100%;
        }
    }
}