.team{
    background-color: #EEF4FA;
    padding-top: 130px;
    padding-bottom: 130px;

    &-title{
        @include adaptive-value('font-size', 48, 20);
        @include adaptive-value('line-height', 64, 24);
        color: #282938;
        text-align: center;
        font-style: normal;
        font-weight: 600;
    }

    &-cards{
        @include flex(center, center);
        gap: 32px;
        flex-wrap: wrap;
    }

    &-card{
        background-color: #fff;
        padding: 48px 60px;
        margin-top: 48px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
            transform: translateY(-20px);
        }

        @media screen and (max-width: 330px){
            width: 100%;
        }
    }

    &-name{
        @include adaptive-value('font-size', 24, 18);
        @include adaptive-value('line-height', 36, 23);
        color: #1D2130;
        text-align: center;
        font-style: normal;
        font-weight: 500;
        margin-top: 30px;
    }

    &-worker{
        color: #1D2130;
        font-style: normal;
        font-weight: 400;
        opacity: 0.7;
        text-align: center;
        @include adaptive-value('font-size', 16, 13);
        @include adaptive-value('line-height', 28, 24);
    }

    &-worker__img{
        @include adaptive-value('width', 168, 130);
    }
}